@import "common";
//access

header{
    width: 100%;
    .logo{
        width: 200px;
        float: left;
        margin: 10px 0 0;
    }
    .top-bar{
        @include mw(1000px);
    }
    .menu{
        float: right;
        ul{
            @extend .cf;
            margin-top: 19px;
            li{
                float: left;
                padding-left: 30px;
                a{
                    @extend .g-font;
                    @extend .italic;
                    font-weight: bold;
                    color: $header;
                    font-size: 1.54em;
                    letter-spacing: 3px;
                }
            }
        }
    }
}
#loading{
        // #container{display:none;}
        // position:absolute;
        // left:50%;
        // top:50%;
        // margin-left:-30px;
    display: none;
    position: fixed;
    _position: absolute; /* IE6対策 */
    top: 50%;
    left: 50%;
    // margin-top: -XXpx; /* heightの半分のマイナス値 */
    // margin-left: -XXXpx; /* widthの半分のマイナス値 */
    z-index: 100;
}
#fade {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
}
section{
    @extend .cf;
}
.bg-msg{
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 72px;
    letter-spacing: 12px;
    width: 100%;
    font-weight: normal;
}
section#top-view{
    &.ytplayer-dance{
        height: 91%; /* headerの部分が余計に多いから */
    }
}
section#about{
    height: 50%; /* sectionに縦に分割だから */
    .dance-msg{
        @extend .cf;
        width: 100%;
        height: 100%;
        min-height: 316px;
        img{width: 50%;height: 100%;float: left;}
        .detail{
            float: left;
            width: 50%;
            height: 100%;
            > div{
                margin: 10px;
                padding: 10px;
                border: 1px #fff solid;
                display: table;
                width: 93%;
                height: 94%;
                color: #fff;
                > div{
                    display: table-cell;
                    vertical-align: middle;
                    letter-spacing: 9px;
                    font-size: 1.06em;
                    > h2{width: 420px;}
                    > p{
                        margin-top: 40px;
                        width: 420px;
                        font-size: 1.13em;
                    }
                }
            }
            &.top{
                background-color:rgb(230,173,164);
            }
            &.bottom{
                background-color:rgb(240,211,129);
            }
        }
    }
}
section#post{
    padding-bottom: 50px;
    background: url("../img/bg_cloth.png") repeat;
    .head{
        @include mw(506px);
        padding-top: 20px;
    }
    .movies{@include mw(1200px);}
    ul.post-dance-movies{
        width: 100%;
        padding: 0;
        margin-top: 30px;
        li{
            float: left;
            width: 26%;
            margin-left: 66px;
            > iframe{
                @include box_shadow(5px,3px,12px,0px, rgba(0, 0, 0, 0.6));
            }
            p.date {
                margin-top: 15px;
                font-weight: lighter;
            }
            h3 {
                letter-spacing: -0.04em;
                font-size: 1.1em;
                > span{
                    float: right;
                    padding-right: 13px;
                    font-size: 0.9em;
                    margin-top: 3px;
                }
            }
        }
    }
}
section#planner{
    @extend .cf;
    .head{
        background: url("../img/bg_pink.png") repeat-x;
        height: 66px;
        > div{@include mw(999px);}
    }
    .member-list{
        margin-top: 90px;
        ul{
            @include mw(1000px);
            padding-left: 134px;
            li{
                width: 19%;
                float: left;
                position: relative;
                margin-left: 66px;
                >div{
                    text-align: center;
                    position: relative;
                    img.people{
                        @include radius(190px);
                        width: 190px;
                        height: 190px;
                       
                    }
                    img.frame{
                        position: absolute;
                    }
                    img.line{width: 100%;height: 7px;}
                    p.name{margin-top: 8px;font-size: 23px;margin-bottom: -14px;}
                    p.kana{font-size: 18px;margin-top: -4px;}
                }
            }
        }
    }
    .pink-bar{
        margin-top:50px;
        background: url("../img/bg_pink.png") repeat-x;
        height: 66px;
        width: 100%;
    }
}
section#contact{
    margin-top: 40px;
    .inner{
        @include mw(1000px);
    }
    .act{
        position: relative;
        float: left;
        width: 40%;
        img{
            float: left;
            position: relative;
            &.bottom{top: -65px;left: 61px;}
        }
    }
    .detail{
        float: left;
        width: 60%;
        p.outline {
            width: 395px;
            margin-top: -60px;
        }
        .tel{@include mw(480px, 10px);}
        .inquiry{
            position: relative;
            z-index: 1;
            width: 390px;
            display: table;
            img{vertical-align: middle;}
            a:hover p {
                opacity: 0.4;
            }
        }
        .hana{margin-top: -90px;position: relative;z-index: -1}
    }
}
section#future{
    margin-top: 40px;
    .inner{
        @include mw(900px);
    }
    .head{@include mw(490px);}
    dl{
        @extend .cf;
        margin-top:40px;
        dd{
            font-size: 1.6em;
            width: 741px;
            margin-left: 21px;
            padding-top: 13px;
        }
    }
    .support{
        font-size: 23px;
        margin-top: 26px;
        p{margin-left: 274px;}
        p.company{margin-left: 323px;}
    }
    p.more{
        padding-top:50px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin: 11px 0;
        > a{position: relative;top: 4px;}
    }
}
footer{
    margin-top:80px;
    background-color:rgb(206,238,245);
    .inner{
        padding-top: 30px;
        @include mw(1000px);
        .phone{@include mw(430px);}
        nav{
            margin-top: 40px;
            ul{@include mw(700px)}
            li{
                a{color: #000;}
                float: left;
                margin-left: 90px;
                border-left:1px solid rgb(186, 186, 186);
                padding-left:16px;
                margin-left:16px;
                display: -moz-inline-box;
                display: inline-block;
                *display: inline;
                *zoom: 1;
                &:first-child{
                    border-left:none;
                }
            }
        }
        .copyright{
            padding: 8px 0 38px;
            text-align: center;
            a{color: black;}
        }
    }
}
section#suprise-dance{
    width: 100%;
    height: 90%;
    background: url("../img/top-view.jpg") no-repeat;
    background-size: cover;
    background-position-y: -264px;
    position: relative;
    .bg-msg{
        top: 10%;
        right: 0px;
        width: 54%;
        font-size: 100%;
        padding: 29px;
        text-align: left;
        background: rgba(0, 0, 0, 0.5);
        height: 365px;
        h2{font-size: 200%;letter-spacing: 24px;}
        p{
            font-size: 115%;
            letter-spacing: 6px;
            margin-top: 44px;
            line-height: 48px;
        }
    }
}
section#sean{
    margin-top:30px;
    .use{@include mw(750px);}
}
section#flow{
    margin-top: 30px;
    .head{@include mw(483px);}
    .flow{
        width: 1000px;
        padding-top: 50px;
        ul{
            &:last-child{margin-top:30px;}
            padding: 0;
            li{
                float: left;
                position: relative;
                width: 255px;
                margin-left: 60px;
                img.f-icon{position: relative;}
                img.title{
                    position: absolute;
                    top: 76px;
                    left: 49px;
                }
            }
        }
    }
}
section#price{
    .table{
        padding-top:50px;
        @include mw(981px);
    }
}
section#form{
    .inner{
        @include mw(700px);
        padding-top: 60px;
        .title{
            p{
                width: 340px;
                img{vertical-align: middle;}
            }
            
        }
    }
}
section#contact-form{
    .d-f{
        padding-top: 50px;
        @include mw(400px);
    }
    >iframe{
        display:block;
    }
    .head img{
        vertical-align: middle;
        padding-right:20px;
    }
}